<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
      <div class="page-header">
      <h3 class="text-center">
       Aerodoc 
      </h3>
    </div>
  </head>
  
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
    <br>
    <br>
    <div class="container" id="container" align="middle">
      <div class="row">
      </div>
      <div class="panel panel-primary" style="width: 50%"  align="middle">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            <b>Sign in to Aerodoc</b>
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>
              Username
            </label>
            <input type="text" class="form-control">
            <div class="form-group">
              <label>
                <br>
                Password
                <br>
              </label>
              <input type="text" class="form-control">
              <hr>
              <button type="submit" class="btn pull-right btn-primary">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>