<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> New Lead
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <body>
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="/" class="btn btn-primary" id="signout">Sign Out</a>
                <a href="/pushConfig" class="btn btn-primary" id="pushConfig">Push Configuration </a>
            </div>
        </div>
</head>
<div class="page-header">
    <h3 class="text-center">
       Aerodoc 
      </h3>
</div>
<div class="container" align='center'>
    <div class="panel panel-primary" style="width: 60%">
            <div class="panel-heading">
                <h3 class="panel-title">
            Create a New Lead
          </h3>
            </div>
            <div class="panel-body">
                <form action="/newLead" method="POST">
                    <div class="form-group">
                        <label>
                            Name
                        </label>
                        <input class="form-control" placeholder="Name" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label>
                            Location
                        </label>
                        <input class="form-control" placeholder="Location" type="text" name="location">
                    </div>
                    <div class="form-group">
                        <label>
                            Phone Number
                        </label>
                        <input class="form-control" placeholder="Phone Number" type="text" name="phoneNumber">
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <label>
                            Sales Agent
                        </label>
                        <input class="form-control" placeholder="Sales Agent" type="text" name="salesAgent">
                    </div>
                    <a href="/leads" class="btn pull-left btn-warning" id="cancel">Cancel </a>
                    <button type="submit" class="btn pull-right btn-primary" id="newLead">
                        Create Lead!
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
